.container {
	position: fixed;
	height: 100vh;
	width: 250px!important;
	margin-top:0;
	max-width: 400px;

	border-right:1px solid grey;
	font-family:SuisseIntlLight;
	padding-right:15px;
	
}
.saveButton{
	margin-top:5px;
	font-size:12px;
	text-align:right;
	cursor:pointer;
	margin-right: 50px;
}
.createFolder {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-left: 0px;
	font-size: 14px;
	height: 25px;
}
.folder {
	display:flex;
	padding:7px;
	align-items:center;
	font-family:SuisseIntlLight;
	cursor: pointer;
}
.files {
	margin-left:15px;
	cursor: pointer;
}