.container {
	position: fixed;
	height: 100vh;
	width: 370px!important;
	margin-top:0;
	max-width: 400px;
	overflow-y: scroll;
	font-size: 16px;
	border-right:1px solid grey;
	font-family:SuisseIntlRegular;
	padding-right:15px;
	color: #506E95;
}
.containerName {
	font-family: SuisseIntlLight;
	font-size: 16px;
	color: black;
	padding-top: 40px;
	padding-left: 20px;
}
.container::-webkit-scrollbar {
	width: 0px;

}
.saveButton{
	margin-top:5px;
	font-size:12px;
	text-align:left;
	cursor:pointer;
	margin-left: 65px;
}
.createFolder {
	display: flex;
	align-items: center;
	cursor: pointer;
	margin-left: 0px;
	font-size: 14px;
	height: 25px;
	margin-left:45px;
	font-family: SuisseIntlLight;
	font-style: italic;
	color: black;
}
.fileName {
	width: 100%;
	margin: 0;
	color: #506E95;
	padding:7px;
	padding-left: 33px;
	margin-left:3px;
	outline:none;
	font-family: SuisseIntlLight;
}
.searchInput{
	margin-left: 20px;
	width: 80%;
	font-size: 16px;
	border-radius: 5px;
	padding: 5px;
	outline: none;
	border: 1px solid #8FA7C6;
}
.resSearch:first-child {
	border-top: 1px solid black;
}
.resSearch:last-child {
	border-bottom: 1px solid #8FA7C6;
}
.resSearch {
	margin-left: 23px;
	width: 78%;
	padding: 5px;
	border-left: 1px solid #8FA7C6;
	border-right: 1px solid #8FA7C6;
}
.folder {
	display:flex;
	align-items:center;
	cursor: pointer;
	height: 63px;
	padding-left: 23px;
	
}
.folder:hover {
	background-color: rgba(12,93,255, 0.05)
}
.files {
	padding-left:15px;
	cursor: pointer;
}